<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>All Event</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<h2 th:text="'Here is ' + ${all.size()} + ' events.'"></h2>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th> title</th>
        <th> date</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="event : ${all}">

        <td><span th:text="${event.id}"/></td>
        <td><span th:text="${event.title}"/></td>
        <td><span th:text="${event.date}"/></td>

    </tr>
    </tbody>
</table>
<br/>
<p><a href="/index">Goto main page</a></p>
</body>
</html>