<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>

<body>

<p>Hello from Module10</p>
<p>Explore all events <a href="/events">here</a></p>
<p>Explore all tickets <a href="/tickets">here</a></p>
<p>Get all users <a href="/users">here</a></p>
<br/>
<p>Create new event <a href="/new-event">here</a></p>
<p>Create new user <a href="/new-user">here</a></p>
<br/>
<p>Get event by id 12 <a href="/event/12">here</a></p>
<br/>
<p>Get user by id 1 <a href="/user/1">here</a></p>
<p>Get user by id 113 <a href="/user/113">here</a></p>
<br/>
<p>Get pdf list of users <a href="/users/pdf">here</a></p>

</body>
</html>