<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>All Tickets</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<h2 th:text="'Here is ' + ${all.size()} + ' tickets.'"></h2>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th> eventId</th>
        <th> userId</th>
        <th> category</th>
        <th> place</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="everyone : ${all}">

        <td><span th:text="${everyone.id}"/></td>
        <td><span th:text="${everyone.eventId}"/></td>
        <td><span th:text="${everyone.userId}"/></td>
        <td><span th:text="${everyone.category}"/></td>
        <td><span th:text="${everyone.place}"/></td>

    </tr>
    </tbody>
</table>
<br/>
<p><a href="/index">Goto main page</a></p>
</body>
</html>